[submodule "gym"]
	path = gym
	url = https://github.com/openai/gym.git
[submodule "notebooks/MLclass"]
	path = notebooks/MLclass
	url = https://github.com/erachelson/MLclass.git
[submodule "notebooks/RLclass"]
	path = notebooks/RLclass
	url = https://github.com/erachelson/RLclass.git
